#intro{
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, #ff4d6d, #c9184a);
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  z-index:9999;
  cursor:pointer;
  transition:0.5s;
}

#intro h2{
  color:white;
  font-size:22px;
  padding:20px;
}
