body{
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg,#ffafcc,#ffc8dd);
  text-align:center;
  overflow:hidden;
  color:#7b2cbf;
}

.hidden{
  display:none;
}

/* intro */
.intro{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
  font-weight:bold;
  color:#c9184a;
  cursor:pointer;
  padding:20px;
}

/* teasing */
.tease{
  position:fixed;
  bottom:110px;
  left:50%;
  transform:translateX(-50%);
  font-size:20px;
  font-weight:bold;
  color:#9d0208;
  background:white;
  padding:10px 18px;
  border-radius:20px;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
  min-height:30px;
  width:max-content;
  max-width:85%;
  text-align:center;
  animation: heartbeat 1s infinite;
}

/* bubble tail */
.tease::after{
  content:"";
  position:absolute;
  bottom:-10px;
  left:50%;
  transform:translateX(-50%);
  border-width:10px 10px 0 10px;
  border-style:solid;
  border-color:white transparent transparent transparent;
}

/* heartbeat */
@keyframes heartbeat{
  0%{ transform:translateX(-50%) scale(1); }
  25%{ transform:translateX(-50%) scale(1.05); }
  50%{ transform:translateX(-50%) scale(1); }
  75%{ transform:translateX(-50%) scale(1.05); }
  100%{ transform:translateX(-50%) scale(1); }
}

/* title */
#title{
  padding:10px 15px;
  font-size:22px;
  color:#560bad;
}

/* gif */
.gif-container{
  margin:10px 0;
}

#cat-gif{
  width:170px;
}

/* buttons */
.buttons{
  margin-top:10px;
  position:relative;
  height:140px;      /* increased */
  width:100%;
  max-width:400px;   /* good for mobile */
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;   /* important */
}

button{
  padding:12px 22px;
  font-size:18px;
  border:none;
  border-radius:12px;
  cursor:pointer;
  transition:0.3s;
}

#yes{
  background:#ff477e;
  color:white;
  z-index:2;
}

#no{
  background:#6c757d;
  color:white;
  position:absolute;
}

/* final texts */
.topFinal{
  font-size:24px;
  color:#d00000;
  margin-top:10px;
}

.bottomFinal{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  font-size:20px;
  color:#c9184a;
  font-weight:bold;
}


#no{
  left:10px;
  top:10px;
}


@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

.tease{
  animation: blink 0.8s infinite;
}

@media (max-width:480px){
  .tease{
    font-size:18px;
    bottom:110px;
  }
}
